.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


body {
    background-image: url(erimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Site-content {
    flex: 1;
}

#addresses {
    border-radius: 15px;
    position:relative;
    top: 10px;
    text-align:left;
    padding: 20px;
    background-color: mintcream;
    
}
#weather {
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    background-color: mintcream;
    font-family: "HelveticaNeue-Thin";
}

.page-footer {
    text-align: center;
}
